.prob-null {
  color: white;
}

.prob-SURE {
  color: darkred;
}

.prob-PROBABLY {
  color: red;
}

.prob-MAYBE {
  color: orange;
}

.prob-NOTLIKELY {
  color: lightgreen;
}

.prob-NOTGONNAHAPPEN {
  color: green;
}

.serv-null {
  color: white;
}

.serv-BAD {
  color: darkred;
}

.serv-LESSBAD {
  color: red;
}

.serv-NEUTRAL {
  color: orange;
}

.serv-SOSO {
  color: lightgreen;
}

.serv-OK {
  color: green;
}
