img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AchievementCard {
  max-width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-size: 0.9em;
  alignment: left;
  word-wrap: break-word;
}

.AchievementContainer {
  display: flex;
  align-items: flex-start;
}
